<script type="text/javascript" src="${base}/js/jquery.edatagrid.js"></script>

<div id="cycDetails_search" class="easyui-panel" title="查询条件" data-options="iconCls:'icon-search'" style="width:100%;height:16%;padding:8px;">
	<label class="label-top">店铺名称:</label> 
	<input class="easyui-combobox" id="cycdpmc" name="cycdpmc" data-options="url:'${base}/store/listStores',valueField:'sName',textField:'sName'">&nbsp;&nbsp;
	<label class="label-top">收款账户:</label>
	<input class="easyui-combobox" id="cycskzh" data-options="url:'${base}/account/listAccounts',valueField:'aName',textField:'aName'">&nbsp;&nbsp;
	<label class="label-top">付款项目:</label>
	<input class="easyui-combobox" id="cycfkxm" data-options="url:'${base}/cycItems/listCycItems',valueField:'ciName',textField:'ciName'">&nbsp;&nbsp;
	<label class="label-top">单号:</label>
	<input class="easyui-textbox"type="text" id="cycdh" name="cycdh" data-options="width:150"/><br>
	<label class="label-top">制单日期:</label>
	<input class="easyui-datebox" id="cycstime" name="cycstime" data-options="width:100,editable:false"/>&nbsp;&nbsp;~&nbsp;
	<input class="easyui-datebox" id="cycetime" name="cycetime" data-options="width:100,editable:false"/>&nbsp;&nbsp;
	<label class="label-top">状态:</label> 
	<select class="easyui-combobox" id="cyczt" name="cyczt" data-options="width:140,panelHeight:'auto'">
		<option value="" selected="selected"></option>
		<option value="1">未提交</option>
		<option value="2">待审批</option>
		<option value="3">待支付</option>
		<option value="5">审批失败</option>
		<option value="4">已支付未开票</option>
		<option value="6">部分发票</option>
		<option value="7">发票已全</option>
	</select>&nbsp;&nbsp;
	<a href="#" class="easyui-linkbutton" onclick="cycDetails_search();" data-options="iconCls:'icon-search'">查询</a>&nbsp;&nbsp;
	<a href="#" class="easyui-linkbutton" onclick="cycDetails_clean();" data-options="iconCls:'icon-undo'">清空条件</a>
</div>

<div id="cycDetails_panel" class="easyui-panel" title="周期性请款明细" style="width:100%;height:80%;">
	<div id="cycDetails_toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-upload',plain:true" onclick="cycDetails_export()">导出</a>
	</div>
	<table id="cycDetails_datagrid" class="easyui-datagrid" style="width:100%;" 
		data-options="toolbar:'#cycDetails_toolbar',pagination:true,rownumbers:true,fitColumns:true,url:'${base}/cycBills/cycDetailsData'" >
		<thead>
			<tr>
				<th data-options="field:'id',width:120,hidden:true">编号</th>
				<th data-options="field:'createTime',width:'8%'">制单日期</th>
				<th data-options="field:'billNo',width:'12%'">请款单号</th>
				<th data-options="field:'sName',width:'15%'">店铺名称</th>
				<th data-options="field:'startTime',width:'8%'">开始时间</th>
				<th data-options="field:'endTime',width:'8%'">结束时间</th>
				<th data-options="field:'ciName',width:'15%'">付款项目</th>
				<th data-options="field:'money',width:'8%',formatter:gshje">请款金额</th>
				<th data-options="field:'actualDate',width:'8%'">实际支付日期</th>
				<th data-options="field:'status',width:'10%',formatter:cycFlag">状态</th>
			</tr>
		</thead>
	</table>
</div>

<script type="text/javascript">
	//状态匹配
	function cycFlag(val){
		return "<span style='color:red'>"+val+"</span>";
	}
	//刷新
	function cycDetails_refresh() {
		$('#cycDetails_datagrid').datagrid('reload', {});
	}
	//条件查询
	function cycDetails_search() {
		var sName = $('#cycdpmc').combobox('getValue');
		var aName = $('#cycskzh').combobox('getValue');
		var ciName = $('#cycfkxm').combobox('getValue');
		var status = $('#cyczt').combobox('getValue');
		var sTime = $('#cycstime').datebox('getValue');
		var eTime = $('#cycetime').datebox('getValue');
		var billNo = $('#cycdh').textbox('getValue');
		var data = {"sName":sName,"aName":aName,"ciName":ciName,"status":status,"sTime":sTime,"eTime":eTime,"billNo":billNo};
		$('#cycDetails_datagrid').datagrid('load', data);
	}
	//导出
	function cycDetails_export(){
		$.messager.confirm("操作提示", "您确定要执行导出操作吗？", function(data){
			if(data){
				var sName = $('#cycdpmc').combobox('getValue');
				var aName = $('#cycskzh').combobox('getValue');
				var ciName = $('#cycfkxm').combobox('getValue');
				var status = $('#cyczt').combobox('getValue');
				var sTime = $('#cycstime').datebox('getValue');
				var eTime = $('#cycetime').datebox('getValue');
				var billNo = $('#cycdh').textbox('getValue');
				var str = "sName="+sName+"&aName="+aName+"&ciName="+ciName+"&status="+status+
					"&sTime="+sTime+"&eTime="+eTime+"&billNo="+billNo;
				location.href = "${base}/cycBills/exCycDetails?"+str;
			}
		});
	}
	
	//清空筛选条件
	function cycDetails_clean(){
		$('#cycDetails_datagrid').datagrid('load', {});
		$('#cycDetails_search').find('input').val('');
	}
</script>
