<script type="text/javascript" src="${base}/js/jquery.edatagrid.js"></script>

<div id="cyc_invoice_search" class="easyui-panel" title="查询条件" data-options="iconCls:'icon-search'" style="width:100%;height:16%;padding:8px;">
	<label class="label-top">店铺名称:</label> 
	<input class="easyui-combobox" id="cidpmc" data-options="url:'${base}/store/listStores',valueField:'sName',textField:'sName'"/>&nbsp;&nbsp;
	<label class="label-top">付款账户:</label>
	<input class="easyui-combobox" id="cifkzh" data-options="url:'${base}/payAccount/listPayAccounts',valueField:'paName',textField:'paName'">&nbsp;&nbsp;
	<label class="label-top">单号:</label>
	<input class="easyui-textbox"type="text" id="cidh" name="cidh" data-options="width:150"/><br>
	<label class="label-top">制单日期:</label>
	<input class="easyui-datebox" id="cistime" name="cistime" data-options="width:100,editable:false"/>&nbsp;&nbsp;~&nbsp;
	<input class="easyui-datebox" id="cietime" name="cietime" data-options="width:100,editable:false"/>&nbsp;&nbsp;
	<label class="label-top">状态:</label> 
	<select class="easyui-combobox" id="cizt" name="cizt" data-options="width:140,panelHeight:'auto'">
		<option value="" selected="selected"></option>
		<option value="4">已支付未开票</option>
		<option value="6">部分发票</option>
		<option value="7">发票已全</option>
	</select>&nbsp;&nbsp;
	<a href="#" class="easyui-linkbutton" onclick="cyc_invoice_search();" data-options="iconCls:'icon-search'">查询</a>&nbsp;&nbsp;
	<a href="#" class="easyui-linkbutton" onclick="cyc_invoice_clean();" data-options="iconCls:'icon-undo'">清空条件</a>
</div>

<div id="cyc_invoice_panel" class="easyui-panel" title="周期性发票记录" style="width:100%;height:80%;">
	<div id="cyc_invoice_toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-upload',plain:true" onclick="cyc_invoice_export()">导出</a>
	</div>
	<table id="cyc_invoice_datagrid" class="easyui-datagrid" style="width:100%;" 
		data-options="toolbar:'#cyc_invoice_toolbar',pagination:true,rownumbers:true,fitColumns:true,url:'${base}/cycBills/cycInvoiceCount'" >
		<thead>
			<tr>
				<th data-options="field:'id',width:120,hidden:true">编号</th>
				<th data-options="field:'createTime',width:'8%'">制单日期</th>
				<th data-options="field:'billNo',width:'12%'">单号</th>
				<th data-options="field:'sName',width:'12%'">店铺名称</th>
				<th data-options="field:'actualMoney',width:'8%',formatter:gshje">支付金额</th>
				<th data-options="field:'pName',width:'20%'">付款账户</th>
				<th data-options="field:'totalMoney',width:'8%',formatter:gshje">发票金额</th>
				<th data-options="field:'otherMoney',width:'10%',formatter:gshje">已付款未开票金额</th>
				<th data-options="field:'status',width:'8%',formatter:cbiFlag">状态</th>
			</tr>
		</thead>
	</table>
</div>

<div id="cimx_win" class="easyui-window" title="<span id='cimx_billno' style='color:red;'></span>" 
	data-options="modal:true,closed:true,minimizable:false" style="width:900px;top:60px;height:500px;">
	<div id="cimx_panel" class="easyui-panel" title="周期性发票明细">
		<table id="cimx_datagrid" class="easyui-datagrid" data-options="pagination:true,rownumbers:true,fitColumns:true" >
			<thead>
				<tr>
					<th data-options="field:'id',width:120,hidden:true">编号</th>
					<th data-options="field:'invoiceNo',width:'20%'">发票编号</th>
					<th data-options="field:'money',width:'12%'">发票金额</th>
					<th data-options="field:'invoiceTitle',width:'30%'">发票抬头</th>
					<th data-options="field:'createDate',width:'15%'">开票日期</th>
				</tr>
			</thead>
		</table>
	</div>
</div>


<script type="text/javascript">
	//状态匹配
	function cbiFlag(val){
		return "<span style='color:red'>"+val+"</span>";
	}
	//刷新
	function cyc_invoice_refresh() {
		$('#cyc_invoice_datagrid').datagrid('reload', {});
	}
	//条件查询
	function cyc_invoice_search() {
		var sName = $('#cidpmc').combobox('getValue');
		var pName = $('#cifkzh').combobox('getValue');
		var status = $('#cizt').combobox('getValue');
		var sTime = $('#cistime').datebox('getValue');
		var eTime = $('#cietime').datebox('getValue');
		var billNo = $('#cidh').textbox('getValue');
		var data = {"sName":sName,"pName":pName,"status":status,"sTime":sTime,"eTime":eTime,"billNo":billNo};
		$('#cyc_invoice_datagrid').datagrid('load', data);
	}
	//导出
	function cyc_invoice_export(){
		$.messager.confirm("操作提示", "您确定要执行导出操作吗？", function(data){
			if(data){
				var sName = $('#cidpmc').combobox('getValue');
				var pName = $('#cifkzh').combobox('getValue');
				var status = $('#cizt').combobox('getValue');
				var sTime = $('#cistime').datebox('getValue');
				var eTime = $('#cietime').datebox('getValue');
				var billNo = $('#cidh').textbox('getValue');
				var str = "sName="+sName+"&pName="+pName+"&status="+status+
					"&sTime="+sTime+"&eTime="+eTime+"&billNo="+billNo;
				location.href = "${base}/cycBills/exCycInvoice?"+str;
			}
		});
	}
	//清空筛选条件
	function cyc_invoice_clean(){
		$('#cyc_invoice_datagrid').datagrid('load', {});
		$('#cyc_invoice_search').find('input').val('');
	}
	$('#cyc_invoice_datagrid').datagrid({
		onDblClickRow: function(rowIndex, rowData){
			var billNo = rowData['billNo'];
			$('#cimx_billno').html("请款单号："+billNo);
			$('#cimx_win').window('open');
			$('#cimx_datagrid').datagrid({
			    url:'${base}/invoice/listInvoice?billNo='+billNo+'&s='+new Date().getTime()
			});
		}
	});
</script>
