<div id="cbm_search" class="easyui-panel" title="查询条件" data-options="iconCls:'icon-search'" style="width:100%;height:16%;padding:8px;">
	<label class="label-top">店铺名称:</label>
	<input class="easyui-combobox" id="cbmsName" data-options="valueField:'sName',textField:'sName'" />&nbsp;&nbsp;
	<label class="label-top">收款账户:</label>
	<input class="easyui-combobox" id="cbmaName" data-options="url:'${base}/account/listAccounts',valueField:'aName',textField:'aName'">&nbsp;&nbsp;
	<label class="label-top">单号:</label>
	<input class="easyui-textbox"type="text" id="cbmBillNo" name="cbmBillNo" data-options="width:150"/>
	<br>
	<label class="label-top">制单日期:</label>
	<input class="easyui-datebox" id="cbmsTime" name="cbmsTime" data-options="width:100,editable:false"/>&nbsp;&nbsp;~&nbsp;
	<input class="easyui-datebox" id="cbmeTime" name="cbmeTime" data-options="width:100,editable:false"/>&nbsp;&nbsp;
	<label class="label-top">状态:</label> 
	<select class="easyui-combobox" name="cbmStatus" id="cbmStatus" data-options="width:120,panelHeight:'auto'">
		<option value="" selected="selected"></option>
		<option value="2">待审批</option>
		<option value="3">待支付</option>
		<option value="5">审批退回</option>
	</select>&nbsp;&nbsp;
	<a href="#" class="easyui-linkbutton" onclick="cbm_search()" data-options="iconCls:'icon-search'">查询</a>
	<a href="#" class="easyui-linkbutton" onclick="cbm_cleanSearch();" data-options="iconCls:'icon-undo'">清空条件</a>
</div>

<div id="cbm_panel" class="easyui-panel" title="请款记录" style="width:100%;height:80%;padding:3px;">
	<div id="cbm_toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="cbm_refresh()">刷新</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" onclick="cbm_passs()">审批</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-no',plain:true" onclick="cbm_backs()">退回</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="cbm_cancels()">取消审批通过</a>
	</div>
	<table id="cbm_datagrid" class="easyui-datagrid" style="width:100%;" 
		data-options="toolbar:'#cbm_toolbar',pagination:true,rownumbers:true,fit:true,fitColumns:true,url:'${base}/cycBills/listManager'" >
		<thead>
			<tr>
				<th data-options="field:'ck',checkbox:true"></th>
				<th data-options="field:'id',width:120,hidden:true">编号</th>
				<th data-options="field:'createTime',width:'7%'">制单日期</th>
				<th data-options="field:'billNo',width:'10%'">单号</th>
				<th data-options="field:'brand',width:'6%'">品牌</th>
				<th data-options="field:'sName',width:'10%'">店铺名称</th>
				<th data-options="field:'contractSubject',width:'10%'">合同抬头</th>
				<th data-options="field:'berthNo',width:'6%'">铺位号</th>
				<th data-options="field:'aName',width:'6%'">收款账户</th>
				<th data-options="field:'account',width:'10%'">收款账号</th>
				<th data-options="field:'bank',width:'6%'">开户行</th>
				<th data-options="field:'payDate',width:'8%'">申请支付日期</th>
				<th data-options="field:'totalMoney',width:'6%',formatter:gshje">合计金额</th>
				<th data-options="field:'status',width:'6%',formatter:cbmFlag">状态</th>
			</tr>
		</thead>
	</table>
</div>

<div id="cbdm_win" class="easyui-window" title="<span id='cbdm_billno' style='color:red;'></span>" 
	data-options="modal:true,closed:true,minimizable:false" style="width:900px;top:60px;height:500px;">
	<div id="cbdm_search" class="easyui-panel" title="请款单信息" style="padding:5px;">
		<div>
			<label class="label-top">店铺名称:</label>
			<input class="easyui-textbox" type="text" id="cbdmsName" name="cbdmsName" data-options="editable:false">&nbsp;&nbsp;
			<label class="label-top">收款账户:</label> 
			<input class="easyui-textbox" type="text" id="cbdmaName" name="cbdmaName" data-options="editable:false">&nbsp;&nbsp;
			<label class="label-top">申请支付日期:</label>
			<input class="easyui-datebox" id="cbdmPayDate" name="cbdmPayDate" data-options="editable:false"/>
		</div>
	</div>
	<div id="cbdm_toolbar">
		<span id="cbdm_total"></span>
	</div>
	<div id="cbdm_panel" class="easyui-panel" title="周期性请款明细">
		<table id="cbdm_datagrid" class="easyui-datagrid" data-options="pagination:true,rownumbers:true,fitColumns:true" >
			<thead>
				<tr>
					<th data-options="field:'id',width:120,hidden:true">编号</th>
					<th data-options="field:'ciName',width:'20%'">付款项目</th>
					<th data-options="field:'initFee',width:'10%'">初始金额</th>
					<th data-options="field:'startTime',width:'15%'">开始时间</th>
					<th data-options="field:'endTime',width:'15%'">结束时间</th>
					<th data-options="field:'money',width:'10%'">请款金额</th>
					<th data-options="field:'remarks',width:'20%'">备注</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<script type="text/javascript">
	function cbmFlag(val){
		return "<span style='color:red'>"+val+"</span>";
	}
	function cbm_refresh() {
		$('#cbm_datagrid').datagrid('reload', {});
	}
	function cbm_search() {
		var sName = $('#cbmsName').combobox('getValue');
		var aName = $('#cbmaName').combobox('getValue');
		var status = $('#cbmStatus').combobox('getValue');
		var sTime = $('#cbmsTime').datebox('getValue');
		var eTime = $('#cbmeTime').datebox('getValue');
		var billNo = $('#cbmBillNo').textbox('getValue');
		var data = {"sName":sName,"aName":aName,"status":status,"sTime":sTime,"eTime":eTime,"billNo":billNo};
		$('#cbm_datagrid').datagrid('load', data);
	}
	function cbm_cleanSearch(){
		$('#cbm_datagrid').datagrid('load', {});
		$('#cbm_search').find('input').val('');
	}
	function cbm_passs() {
		var s = '待审批';
		var info1 = "您确定将已选择的记录审批通过吗？<br><span style='color:red;'>(只会处理"+renderColor('blue', s)+"的记录！)</span>";
		var info2 = "请您选择"+renderColor('blue', s)+"的记录进行操作！";
		batchOperator('cbm_datagrid', s, info1, info2, "${base}/cycBills/passs", "cbm_refresh();");
	}
	function cbm_backs() {
		var s = '待审批';
		var info1 = "您确定将已选择的记录驳回吗？<br><span style='color:red;'>(只会处理"+renderColor('blue', s)+"的记录！)</span>";
		var info2 = "请您选择"+renderColor('blue', s)+"的记录进行操作！";
		batchOperator('cbm_datagrid', s, info1, info2, "${base}/cycBills/backs", "cbm_refresh();");
	}
	function cbm_cancels() {
		var s = '待支付';
		var info1 = "您确定将已选择的记录取消审批通过吗？<br><span style='color:red;'>(只会处理"+renderColor('blue', s)+"的记录！)</span>";
		var info2 = "请您选择"+renderColor('blue', s)+"的记录进行操作！";
		batchOperator('cbm_datagrid', s, info1, info2, "${base}/cycBills/cancels", "cbm_refresh();");
	}
	$('#cbm_datagrid').datagrid({
		onDblClickRow: function(rowIndex, rowData){
			var billNo = rowData['billNo'];
			$('#cbdm_billno').html("请款单号："+billNo);
			$('#cbdmsName').textbox('setValue',rowData['sName']);
			$('#cbdmaName').textbox('setValue',rowData['aName']);
			$('#cbdmPayDate').datebox('setValue',rowData['payDate']);
			$('#cbdm_win').window('open');
			var curTime = new Date().getTime();
			$('#cbdm_datagrid').datagrid({
			    url:'${base}/cycDetails/list?billNo='+billNo
			});
			$.post("${base}/cycDetails/totalAmount",{"billNo":billNo,"curTime":curTime}, function(data){
				var strTotal = "<span style='color:red;'>&nbsp;&nbsp;&nbsp;&nbsp;您本次查询的该请款单金额总计为："+data+" 元</span>";
				$('#cbdm_total').html(strTotal);
			});
		}
	});
</script>
