<script type="text/javascript" src="${base}/js/jquery.edatagrid.js"></script>

<div id="dispbills_search" class="easyui-panel" title="查询条件" data-options="iconCls:'icon-search'" style="width:100%;height:16%;padding:8px;">
	<label class="label-top">店铺名称:</label> 
	<input class="easyui-combobox" id="ddpmc" name="ddpmc" data-options="url:'${base}/store/listStores',valueField:'sName',textField:'sName'">&nbsp;&nbsp;
	<label class="label-top">收款账户:</label>
	<input class="easyui-combobox" id="dskzh" data-options="url:'${base}/account/listAccounts',valueField:'aName',textField:'aName'">&nbsp;&nbsp;
	<label class="label-top">单号:</label>
	<input class="easyui-textbox"type="text" id="ddh" name="ddh" data-options="width:150"/><br>
	<label class="label-top">制单日期:</label>
	<input class="easyui-datebox" id="dstime" name="dstime" data-options="width:100,editable:false"/>&nbsp;&nbsp;~&nbsp;
	<input class="easyui-datebox" id="detime" name="detime" data-options="width:100,editable:false"/>&nbsp;&nbsp;
	<label class="label-top">状态:</label> 
	<select class="easyui-combobox" id="dzt" name="dzt" data-options="width:140,panelHeight:'auto'">
		<option value="" selected="selected"></option>
		<option value="1">未提交</option>
		<option value="2">待审批</option>
		<option value="3">待支付</option>
		<option value="5">审批退回</option>
		<option value="4">已支付未开票</option>
		<option value="6">部分发票</option>
		<option value="7">发票已全</option>
	</select>&nbsp;&nbsp;
	<a href="#" class="easyui-linkbutton" onclick="dispbills_search();" data-options="iconCls:'icon-search'">查询</a>&nbsp;&nbsp;
	<a href="#" class="easyui-linkbutton" onclick="dispbills_clean();" data-options="iconCls:'icon-undo'">清空条件</a>
</div>

<div id="dispbills_panel" class="easyui-panel" title="一次性请款记录" style="width:100%;height:80%;">
	<div id="dispbills_toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-upload',plain:true" onclick="dispbills_export()">导出</a>
	</div>
	<table id="dispbills_datagrid" class="easyui-datagrid" style="width:100%;" 
		data-options="toolbar:'#dispbills_toolbar',pagination:true,rownumbers:true,fitColumns:true,url:'${base}/dispBills/dispFeesCount'" >
		<thead>
			<tr>
				<th data-options="field:'id',width:120,hidden:true">编号</th>
				<th data-options="field:'aName',width:120,hidden:true">收款账号</th>
				<th data-options="field:'createTime',width:'7%'">制单日期</th>
				<th data-options="field:'billNo',width:'10%'">单号</th>
				<th data-options="field:'sName',width:'10%'">店铺名称</th>
				<th data-options="field:'totalMoney',width:'6%',formatter:gshje">请款金额</th>
				<th data-options="field:'payDate',width:'8%'">申请支付日期</th>
				<th data-options="field:'actualMoney',width:'8%',formatter:gshje">实际支付金额</th>
				<th data-options="field:'actualDate',width:'8%'">实际支付日期</th>
				<th data-options="field:'pName',width:'10%'">付款账户</th>
				<th data-options="field:'account',width:'8%'">付款账号</th>
				<th data-options="field:'bank',width:'6%'">开户行</th>
				<th data-options="field:'nopayMoney',width:'8%',formatter:gshje">实际未付金额</th>
				<th data-options="field:'status',width:'8%',formatter:dsFlag">状态</th>
			</tr>
		</thead>
	</table>
</div>

<div id="dmx_win" class="easyui-window" title="<span id='dmx_billno' style='color:red;'></span>" 
	data-options="modal:true,closed:true,minimizable:false" style="width:900px;top:60px;height:500px;">
	<div id="dmx_search" class="easyui-panel" title="请款单信息" style="padding:5px;">
		<div>
			<label class="label-top">店铺名称:</label>
			<input class="easyui-textbox" type="text" id="dmxsName" name="dmxsName" data-options="editable:false">&nbsp;&nbsp;
			<label class="label-top">收款账户:</label> 
			<input class="easyui-textbox" type="text" id="dmxaName" name="dmxaName" data-options="editable:false">&nbsp;&nbsp;
			<label class="label-top">申请支付日期:</label>
			<input class="easyui-datebox" id="dmxPayDate" name="dmxPayDate" data-options="editable:false"/>
		</div>
	</div>
	<div id="dmx_panel" class="easyui-panel" title="一次性请款明细">
		<table id="dmx_datagrid" class="easyui-datagrid" data-options="pagination:true,rownumbers:true,fitColumns:true" >
			<thead>
				<tr>
					<th data-options="field:'id',width:120,hidden:true">编号</th>
					<th data-options="field:'diName',width:'20%'">付款项目</th>
					<th data-options="field:'initFee',width:'10%'">初始金额</th>
					<th data-options="field:'money',width:'10%'">请款金额</th>
					<th data-options="field:'remarks',width:'20%'">备注</th>
				</tr>
			</thead>
		</table>
	</div>
</div>


<script type="text/javascript">
	//状态匹配
	function dsFlag(val){
		return "<span style='color:red'>"+val+"</span>";
	}
	//刷新
	function dispbills_refresh() {
		$('#dispbills_datagrid').datagrid('reload', {});
	}
	//条件查询
	function dispbills_search() {
		var sName = $('#ddpmc').combobox('getValue');
		var aName = $('#dskzh').combobox('getValue');
		var status = $('#dzt').combobox('getValue');
		var sTime = $('#dstime').datebox('getValue');
		var eTime = $('#detime').datebox('getValue');
		var billNo = $('#ddh').textbox('getValue');
		var data = {"sName":sName,"aName":aName,"status":status,"sTime":sTime,"eTime":eTime,"billNo":billNo};
		$('#dispbills_datagrid').datagrid('load', data);
	}
	//导出
	function dispbills_export(){
		$.messager.confirm("操作提示", "您确定要执行导出操作吗？", function(data){
			if(data){
				var sName = $('#ddpmc').combobox('getValue');
				var aName = $('#dskzh').combobox('getValue');
				var status = $('#dzt').combobox('getValue');
				var sTime = $('#dstime').datebox('getValue');
				var eTime = $('#detime').datebox('getValue');
				var billNo = $('#ddh').textbox('getValue');
				var str = "sName="+sName+"&aName="+aName+"&status="+status+
					"&sTime="+sTime+"&eTime="+eTime+"&billNo="+billNo;
				location.href = "${base}/dispBills/exDispFeesCount?"+str;
			}
		});
	}
	
	//清空筛选条件
	function dispbills_clean(){
		$('#dispbills_datagrid').datagrid('load', {});
		$('#dispbills_search').find('input').val('');
	}
	$('#dispbills_datagrid').datagrid({
		onDblClickRow: function(rowIndex, rowData){
			var billNo = rowData['billNo'];
			$('#dmx_billno').html("请款单号："+billNo);
			$('#dmxsName').textbox('setValue',rowData['sName']);
			$('#dmxaName').textbox('setValue',rowData['aName']);
			$('#dmxPayDate').datebox('setValue',rowData['payDate']);
			$('#dmx_win').window('open');
			$('#dmx_datagrid').datagrid({
			    url:'${base}/dispDetails/list?billNo='+billNo+'&s='+new Date().getTime()
			});
		}
	});
</script>
